{% extends "base.html" %} 

{% block title %}Dish_content{% endblock %} 

{% block users_active %}active{% endblock %} 

{% block content %}

{% for dish in dishes %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div><img src='/statics/images/dishes{{dish.Dpicture}}.jpg' width="750" height="450" /></div>
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">{{dish.Dname}}</h1>
      {% for final_score in score %}<p class="col-md-8 fs-4">评分：{{final_score.score}}</p>{% endfor %}
      <p class="col-md-8 fs-4">价格：{{dish.Dprice}}元</p>
      <p class="col-md-8 fs-4">是否有售：{{dish.is_sell}}</p>
      <p class="col-md-8 fs-4" >标签:</p>
      <div style="display: inline-block;">
          <div style="display: inline-block;">
            {% for tag in tags %}<p style="float:left;">{{tag.Tname}}</p> <p style="float:left; margin-left:30px;">  </p>{% endfor %}
          </div>
      </div>
      
    </div>
    
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_remark">
添加评论
</button>

<!-- Modal -->
<div class="modal fade" id="add_remark" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <form method="post" action="form_add_remark">
        <div class="modal-header">
        <h5 class="modal-title" id="userModalLabel">添加评论</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <div class="mb-3">
            <label for="Rcontext" class="form-label">评论</label>
            <input type="text" class="form-control" id="Rcontext" name="Rcontext" placeholder="Rcontext">
        </div>
        <div class="mb-3">
            <label for="Rmark" class="form-label">打分（0~100的整数）</label>
            <input type="number"  min="0" max="100" step="1" class="form-control" id="Rmark" name="Rmark" placeholder="Rmark">
        </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
        <button type="submit" class="btn btn-primary">添加</button>
        </div>
    </form>
    </div>
</div>
</div>

{% for remark in remarks %}
<div class="p-5 mb-4 bg-light rounded-3" id="remarkModal_delete">
  {% if exists("superuser") %}
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#remarkModal_{{remark.R_}}">
    删除
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="remarkModal_{{remark.R_}}" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form method="post" action="/delete_remark">
          <div class="modal-header">
            <h5 class="modal-title" id="userModalLabel">是否删除</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
            <div class="mb-3">
              <div>序号为{{remark.R_}}的评论</div> 
              <input type="hidden" class="form-control" id="R_" name="R_" placeholder="R_" value="{{remark.R_}}">
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
            <button type="submit" class="btn btn-primary">删除</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% else %}
                        
  {% endif %}


    <div class="container-fluid py-5">
      <p class="col-md-8 fs-4" id="remark_{{remark.R_}}">{{remark.username}}:</p>
      <p id="remark_{{remark.R_}}">{{remark.Rcontext}}</p>
      <p id="remark_{{remark.R_}}">评分：{{remark.Rmark}}</p>
    </div>
</div>


{% endfor %}




{% endfor %}

  
  <!-- <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h2>Change the background</h2>
        <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
        <button class="btn btn-outline-light" type="button">Example button</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Add borders</h2>
        <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
        <button class="btn btn-outline-secondary" type="button">Example button</button>
      </div>
    </div>
  </div> -->

{% endblock %}